.stack-work/
*~
*.swp
*.cmi
*.cmx
*.o
*.out
*.dbs
*.deb
*.db
*.cabal
tinfoiltiger
template_tests
!templates/**/.gitignore
templates/**/.stack-work
testApp
debian/version_build_folders/*
debian/version_debs/*
debian/dists/*
automations/modules/__pycache__

