<html>
  <head>
    <title>{{APP_NAME}}/ {{PAGE_TITLE}}</title>
    <link rel="stylesheet" href="/assets/styles.css" />
  </head>
  <body>
    <h2 class="mt-24 bg-gray-900">About Page</h2>

    <h1 class="text-3xl font-bold underline">Hello world!</h1>

    <!-- We'll inject either "logged in as..." or nothing here: -->
    <div>{{LOGGED_IN_AS}}</div>

    <!-- We'll also inject the link block (login or dashboard/logout) here: -->
    <div>{{LINK_BLOCK}}</div>

    <div>{{ABOUT_CONTENT}}</div>
  </body>
</html>
